<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge</title>
    <link rel="stylesheet" href="css/index_footer_styles.css">
    <link rel="stylesheet" href="css/index_styles.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/nav_bar_styles.css">
    <link rel="stylesheet" href="css/login_styles.css">
    <link rel="stylesheet" href="css/create_account_styles.css">
    <link rel="stylesheet" href="css/dashboard_styles.css">
    <link rel="stylesheet" href="css/create_box_styles.css">
    <link rel="stylesheet" href="css/create_reagent_styles.css">
    <link rel="stylesheet" href="css/create_fridge_styles.css">
    <link rel="stylesheet" href="css/account_manager_styles.css">
</head>
<body>
    <!-- TOP -->
    <div id="top">
    
    </div>    
    <%- body %>
    <br>
    <br>
    <!-- BOTTOM -->
    <div id="bottom">

    </div>
</body>
</html>