<div id="home-page">
    <h1 id="home-title">
    Fridge
    </h1>
    <p id="home-desc">
    Fridge is a web application designed to assist with organization of laboratory fridges, boxes, and reagents
    </p>
    <a href="login">CLICK HERE TO LOGIN</a>
<div>