/* General Styles */
ol,ul {
	list-style: none;
}
* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

/* Top */
#top {
	background: black;
}

/* bottom */
#bottom {
	background: black;
}

/* Home Page Styles */
#home-page {
	color: black;
	text-align: center;
}
#home-page a {
	background: lightgrey;
	padding: 20px 20px 20px 20px;
	color: black;
	border-color: black;
	border-radius: 30px;
	font-size: 50px;
	font-weight: bold;
}
#home-page a:hover {
	background: lightsteelblue
}
#home-page a:link {
	text-decoration: none;
}
#home-title {
	text-align: center;
	font-weight: 700;
	font-size: 120px;
}
#home-desc {
	text-align: center;
	font-size: 30px;
	margin-top: 5%;
	margin-bottom: 10%;
}
/* Create Account */
.container {
	text-align: center;
	background-color: lightsteelblue;
	margin: 10% 25% 0 25%;
	padding: 20px;
	border-radius: 25px;
}
.form__input-group {
	margin-bottom: 5px;
}
.form__link {
	text-decoration: none;
	color: black;
	background-color: lightgrey;
	padding: 5px;
	border-radius: 15px;
	border-style: solid;
	border-width: thin;
	border-color: #000;
}

/* Account Manager */
