<div class="create-account-page">
    <div class="create-account-container">
        <form action="/createAct" method="POST" class="create-acount-form" id="createAccount">
            <h1 class="create-account-title">Create Account</h1>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="fname" autofocus placeholder="First Name">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="lname" autofocus placeholder="Last Name">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="age" autofocus placeholder="Age">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="sex" autofocus placeholder="Sex (M/F/O)">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="username" autofocus placeholder="New Username">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="pass1" autofocus placeholder="Password">
            </div>
            <div class="form-input-div">
                <input type="text" class="form-input-create" name="pass2" autofocus placeholder="Confirm Password">
            </div>
            <button class="create-account-button" type="submit">Enter</button>
            <p class="create-account-login">
                <a href="login" id="linkLogin">Already have an account? Login Here</a>
            </p>
        </form>
    </div>
</div>
