<div class="container">
    <form action="/createAct" method="POST" class="form" id="createAccount">
        <h1 class="form__title">Create Account</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" name="fname" autofocus placeholder="First Name">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="lname" autofocus placeholder="Last Name">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="age" autofocus placeholder="Age">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="sex" autofocus placeholder="Sex (M/F/O)">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="username" autofocus placeholder="New Username">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="pass1" autofocus placeholder="Password">
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="pass2" autofocus placeholder="Confirm Password">
        </div>
        <button class="form__button" type="submit">Enter</button>
        <p class="form__text">
            <a class="form__link" href="login" id="linkLogin">Already have an account? Login Here</a>
        </p>
    </form>
</div>