<div class="container">
    <form action="/login" method="POST" class="form" id="login">
        <h1 class="form__title">Login</h1>
        <div class="form__message form__message--error">Incorrect username/password</div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="logUsername" autofocus placeholder="Username">
            <div class="form__input-error-message">An Error has occured</div>
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" name="logPassword" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Enter</button>
        <p class="form__text">
            <a href="RESET PASSWORD PAGE" class="form__link">Forgot your password?</a>
        </p>
        <p class="form__text">
            <a href="createAct" class="form__link">Dont't have an account? Create account</a>
        </p>
    </form>
</div>