<div class="container">
    <form action="/newFridge" method="POST" class="form" id="newFridge">
        <h1 class="form__title">Create a New Fridge</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" name="newFridgeName" autofocus placeholder="Enter Fridge Name">
        </div>
        <button class="form__button" type="submit">Create</button>
        <p class="form__text">
            <a class="form__link" href="dashboard">Return to Dashboard</a>
        </p>
    </form>
</div>