<div class="account-manager-page">
    <div class="dashboard-nav">
        <div class="dashboard-nav-left-box">
            <div class="dashboard-nav-left">
                <div class="dashboard-nav-left-image">
                    <a href="dashboard"><img id="dashboard-fridge-icon" src="fridge-icon.png" alt="Fridge Icon"></a>
                </div>
                <div class="dashboard-nav-left-title">
                    <a class="dashboard-nav-title" href="dashboard"><p>Fridge</p></a>
                </div>
            </div>
        </div>
        <div class="dashboard-nav-right-box">
            <ul class="dashboard-nav-right">
                <div class="dashboard-nav-right-item"><a href="newBox">Create Box</a></div>
                <div class="dashboard-nav-right-item"><a href="newReagent">Create Reagent</a></div>
                <div class="dashboard-nav-right-item"><a href="newFridge">Create Fridge</a></div>
                <div class="dashboard-nav-right-item"><a href="/dashboard/account">Account</a></div>
            </ul>
        </div>
    </div>
    <div class="account-manager-box">
        <p class="account-manager-title">Account manager</p>
        <div class="dashboardNav">
            <ul id="accountNav">
                <li><a href="../changePass">Change Password</a></li>
            </ul>
        </div>
    </div>
</div>