<div>
    <form action="/changePass" method="POST" class="form" id="changePass">
        <h1 class="form__title">Change Password</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" name="oldPass" autofocus placeholder="Enter Old Password">
            <input type="text" class="form__input" name="newPass" autofocus placeholder="Enter New Password">
            <input type="text" class="form__input" name="newPass2" autofocus placeholder="Enter New Password Again">
        </div>
        <button class="form__button" type="submit">Enter</button>
    </form>

    <a href="dashboard">Return to Dashboard</a>
</div>